/* fonts - шрифты */
/* roboto-regular - latin_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'),
  url('../fonts/roboto.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/roboto.woff') format('woff'); /* Modern Browsers */
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Robotobold'), local('Roboto-Bold'),
  url('../fonts/robotobold.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/robotobold.woff') format('woff'); /* Modern Browsers */
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Robotomedium'), local('Roboto-Medium'),
  url('../fonts/robotomedium.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/robotomedium.woff') format('woff'); /* Modern Browsers */
}

/* Variables */

:root {
  --basic-white: #FFFFFF;
  --basic-light-gray-a: #EEEEEE;
  --basic-light-gray-b: #E1E1E1;
  --basic-light-gray-c: #F2F2F2;
  --basic-light-gray-d: #D7DCDE;
  --basic-light-gray-e: #DFDFDF;
  --basic-light-gray-f: #D5D5D5;
  --basic-light-gray-g: #DBDBDB;
  --basic-light-gray-h: #B3B3B3;
  --basic-light-gray-i: #C4C4C4;
  --basic-light-gray-j: #EAEAEA;
  --basic-light-gray-k: #D7DCDF;
  --basic-light-gray-l: #F1F1F1;
  --basic-gray-a: #B4B9BB;
  --basic-gray-b: #ABABAB;
  --basic-gray-c: #A6A6A6;
  --basic-gray-d: #666666;
  --basic-gray-e: #959595;
  --basic-gray-f: #A7A7A7;
  --basic-gray-g: #C1C1C1;
  --basic-gray-h: #B8B8B8;
  --basic-medium-gray:#4D4D4D;
  --basic-dark-gray: #444444;
  --basic-dark-gray-a: #474747;
  --basic-yellow: #EFC849;
  --basic-yellow-a: #EFC84A;
  --basic-yellow-b: #EAB534;
  --basic-yellow-c: #E5A722;
  --basic-yellow-d: #EDC164;
  --basic-green-a: #00CA74;
  --basic-green-b: #00BC6C;
  --basic-green-c: #00AA62;
  --basic-green-d: #4CC391;
  --basic-red-a: #FB565A;
  --basic-red-b: #E74246;
  --basic-red-c: #D7373B;
  --basic-red-d: #E37376;
  --basic-light-black: #283136;
  --basic-medium-black: #231F20;
  --basic-black: #000000;
}

body {
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  font-family: "Roboto", Arial, sans-serif;
  color: var(--basic-light-black);
  background-color: var(--basic-white);
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}


.page {
  height: 100%;
}

/* header */

.header {
  padding-top: 49px;
  background-color: var(--basic-light-gray-a);
}

.header-container {
  max-width: 1177px;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
}

.nav {
  display: grid;
  grid-template-columns: auto 1fr auto;
  font-weight: 500;
  line-height: 30px;
  color: var(--basic-black);
  text-transform: uppercase;
}

.header-logo svg {
  width: 160px;
  height: 66px;
}

.header-logo:hover svg {
  fill: var(--basic-black);
  fill-opacity: 0.7;
}

.header-logo:active svg {
  fill: var(--basic-black);
  fill-opacity: 0.3;
}

.nav-wrap {
  margin: auto auto;
}

.nav-list {
  display: grid;
  grid-template-columns: 63px 77px 76px 86px;
  column-gap: 45px;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-list a:visited,
.basket-wrap a:visited {
  border-bottom: 2px solid var(--basic-red-a);
}

.nav-list a:hover,
.basket-wrap a:hover {
  color: var(--basic-red-a);
}

.nav-list a:active,
.basket-wrap a:active {
  color: var(--basic-gray-f);
}

.nav-item a,
.basket-wrap a {
  color: var(--basic-black);
}

.nav-item-active a {
  border-bottom: 2px solid var(--basic-red-a);
}

.basket-wrap {
  position: relative;
  margin: auto auto;
}

.basket::before {
  content: "";
  position: absolute;
  top: 6px;
  left: -25px;
  width: 15px;
  height: 15px;
  background-image: url("../img/basket-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
}

/* main-slogan */

.main-slogan {
  margin: 0;
  padding: 0;
  min-height: 431px;
  background-color: var(--basic-light-gray-a);
}

.container {
  max-width: 1177px;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
}

.hero-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.hero-slide-wrap {
  display: grid;
  grid-template-columns: auto 1fr;
}

.slide {
  display: none;
}

.slide-current {
  display: block;
}

.hero-wrap {
  display: flex;
  flex-direction: column;
  flex-basis: auto;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-top: 78px;
  margin-bottom: 80px;
}

.hero-catalog {
  background-color: var(--basic-light-gray-a);
}

.hero-wrap-catalog {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  padding: 72px 0 108px 0;
}

.hero-img img {
  width: 100%;
  height: 100%;
}

.hero-title,
.catalog-title {
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  color: var(--basic-black);
}

.hero-title {
  margin: 0;
}

.hero-text {
  margin: 25px 0 28px 0;
  padding: 0;
}

.catalog-title {
  margin: 0;
  padding: 0;
}

.button {
  font-weight: 500;
  line-height: 18px;
  text-align: center;
  color: var(--basic-white);
  text-transform: uppercase;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  outline: none;
}

.button-learn-more {
  display: inline-block;
  margin: 0;
  padding: 17px 54px 15px 54px;
}

.hero-img img {
  width: 760px;
  height: 431px;
}

.button-learn-more {
  background-color: var(--basic-red-a);
}

.button-learn-more:hover {
  background-color: var(--basic-red-b);
}

.button-learn-more:active {
  background-color: var(--basic-red-c);
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
}

.hero-circles {
  position: relative;
}

.hero-slider-controls {
  position: absolute;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  bottom: 96px;
  left: 526px;
  z-index: 20;
  width: 88px;
}

.hero-slider-controls button {
  padding: 0;
  width: 18px;
  height: 18px;
  border: none;
  border-radius: 50%;
  background-color: var(--basic-white);
  cursor: pointer;
  outline: none;
}

.hero-slider-controls .current {
  background-image: url("../img/ellipse.svg");
  background-repeat: no-repeat;
  background-position: center;
}

/* services */

.services {
  position: relative;
  margin-top: 80px;
  margin-bottom: 80px;
}

.services::after {
  content: "";
  position: absolute;
  bottom: -80px;
  width: 1158px;
  height: 2px;
  background-image:  url("../img/Rectangle-1.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.services-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 60px 0 0;
  padding: 0;
  list-style: none;
}

.services-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-basis: auto;
  flex-wrap: wrap;
}

.services-item img {
  width: 300px;
  height: 146px;
}

.services-item-title {
  margin: 25px 0 16px 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-black);
}

.service-text {
  margin-top: 0;
  margin-bottom: 32px;
}

.button-order-red,
.button-order-green,
.button-order-yellow {
  display: inline-block;
  margin: 0;
  padding: 17px 40px 15px 39px;
}

.button-order-red {
  background-color: var(--basic-red-a);
}

.button-order-red:hover {
  background-color: var(--basic-red-b);
}

.button-order-red:active {
  color: var(--basic-red-d);
  background-color: var(--basic-red-c);
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
}

.button-order-green {
  background-color: var(--basic-green-a);
}

.button-order-green:hover {
  background-color: var(--basic-green-b);
}

.button-order-green:active {
  color: var(--basic-green-d);
  background-color: var(--basic-green-c);
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
}

.button-order-yellow {
  background-color: var(--basic-yellow-a);
}

.button-order-yellow:hover {
  background-color: var(--basic-yellow-b);
}

.button-order-yellow:active {
  color: var(--basic-yellow-d);
  background-color: var(--basic-yellow-c);
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
}

/* about */

.about {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 121px;
  margin-bottom: 73px;
}

.about::after {
  content: "";
  position: absolute;
  bottom: -73px;
  width: 1158px;
  height: 2px;
  background-image:  url("../img/Rectangle-1.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.about-text-content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: auto;
}

.about-result img {
  width: 360px;
  height: 208px;
}

.about-text-title {
  margin: 34px 0 32px 0;
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
  color: var(--basic-black);
}

.about-text {
  margin: 0;
  padding: 0;
}

.about-subtitle {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase
}

.about-subtitle-text {
  margin: 40px 0 23px 0;
}

.about-subtitle-result {
  margin: 37px 0 31px 0;
  text-align: center;
}

.about-list-text {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  height: 120px;
  margin: 0 0 0 32px;
  padding: 0;
  list-style: none;
}

.about-text-bullet {
  position: relative;
}

.about-text-bullet::before {
  content: "";
  position: absolute;
  top: 12px;
  left: -32px;
  width: 25px;
  height: 2px;
  background-image:  url("../img/Rectangle-2.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.about-list-result {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 360px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.result-text {
  margin: 20px 0 0 0;
  padding: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
}

.about-subtitle {
  font-weight: 700;
  text-transform: uppercase;
  color: var(--basic-black);
}

.about-item-result {
  font-weight: 700;
  font-size: 45px;
  line-height: 64px;
  color: var(--basic-black);
}

.percent {
  font-weight: 700;
  font-size: 26px;
  line-height: 40px;
  color: var(--basic-black);
}

/* companies */

.companies {
  position: relative;
  margin-top: 121px;
}

.companies::after {
  content: "";
  position: absolute;
  bottom: -44px;
  width: 1158px;
  height: 2px;
  background-image:  url("../img/Rectangle-1.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.companies-list {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0 43px 126px 32px;
  padding: 0;
  list-style: none;
}

.companies-list .companies-item-one::after,
.companies-list .companies-item-two::after,
.companies-list .companies-item-three::after {
  content: "";
  position: absolute;
  top: 12px;
  width: 2px;
  height: 52px;
  background-color: var(--basic-light-gray-a);
}

.companies-list .companies-item-one::after {
  left: 247px;
}

.companies-list .companies-item-two::after {
  left: 577px;
}

.companies-list .companies-item-three::after {
  left: 867px;
}

.companies-logo svg {
  fill: var(--basic-black);
  fill-opacity: 0.2;
}

.companies-logo svg:hover {
  fill: var(--basic-black);
  fill-opacity: 1;
}

.companies-logo:active svg {
  fill: var(--basic-black);
  fill-opacity: 0.1;
}

/* footer */

.footer {
  position: relative;
  margin-bottom: 76px;
}

.footer img {
  position: absolute;
  z-index: -1;
  width: 100%;
  background-size: 100%;
}

.footer-container {
  max-width: 1177px;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
}

.footer-content {
  position: relative;
  display: grid;
  grid-template-columns: 319px auto;
  column-gap: 363px;
  padding-top: 54px;
}

.footer-contacts-content {
  display: inline-block;
  width: auto;
  padding: 49px 39px 47px 50px;
  background-color: var(--basic-white);
}

.point-on-map-wrap {
  margin-top: 32px;
}

.logo-name {
  margin-top: 0;
  margin-bottom: 23px;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-black);
}

.contact-address,
.footer-phone {
  font-style: normal;
  line-height: 18px;
  color: var(--basic-gray-d);
}

.footer-phone {
  display: inline-block;
  margin: 18px 0 0 0;
}

.button-write-us {
  display: inline-block;
  margin: 38px 0 0 0;
  padding: 17px 44px 15px 44px;
}

.button-write-us {
  background-color: var(--basic-red-a);
}

.button-write-us:hover {
  background-color: var(--basic-red-b);
}

.button-write-us:active {
  color: var(--basic-red-d);
  background-color: var(--basic-red-c);
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
}

.point-on-map img {
  position: relative;
  width: 231px;
  height: 190px;
}
.social-networks {
  display: grid;
  grid-template-columns: 261px 1fr;
  column-gap: 139px;
  align-items: center;
  margin-top: 193px;
}

.social-networks-list {
  display: flex;
  justify-content: space-between;
  width: 261px;
  padding: 0;
  margin: 0;
  list-style: none;
}

.social-networks-item a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 81px;
  height: 81px;
  background: linear-gradient(0deg, var(--basic-light-gray-b), var(--basic-light-gray-b)), var(--basic-white);
  border-radius: 50%;
}

.social-networks-item a:hover {
  background: linear-gradient(0deg, var(--basic-red-b), var(--basic-red-b)), var(--basic-white);
}

.social-networks-item a:active {
  background: linear-gradient(0deg, var(--basic-red-c), var(--basic-red-c)), var(--basic-white);
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
}

.social-networks-button svg:active {
  fill: var(--basic-white);
  fill-opacity: 0.3;
}

.footer-friendship-title {
  margin: 0;
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
  color: var(--basic-black);
}

.footer-friendship-sub {
  margin: 10px 0 0 0;
  font: inherit;
  line-height: 22px;
  color: var(--basic-dark-gray);
}

/* modal */

.modal-letter {
  display: inline-block;
  width: 760px;
  padding: 84px 99px 84px 100px;
  background-color: var(--basic-white);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
}

.modal-title {
  font-weight: 700;
  font-size: 45px;
  line-height: 53px;
  color: var(--basic-black);
}

.letter-form-field label {
  font-weight: 700;
  line-height: 18px;
  color: var(--basic-black);
}

.letter-form-field input,
.letter-form-field textarea {
  font: inherit;
  line-height: 18px;
  color: var(--basic-dark-gray);
  background: var(--basic-white);
  border: 2px solid var(--basic-light-gray-d);
  box-sizing: border-box;
  border-radius: 3px;
}

.letter-form-field textarea {
  resize: none;
}

.letter-form-field input:hover,
.letter-form-field textarea:hover {
  border-color: var(--basic-gray-a);
}

.letter-form-field input:focus,
.letter-form-field textarea:focus,
.letter-form-field input:focus::placeholder,
.letter-form-field textarea:focus::placeholder {
  color: var(--basic-dark-gray);
  border-color: var(--basic-black);
}

.letter-form-field input:invalid:not(:placeholder-shown) {
  color: var(--basic-red-b);
  border-color: var(--basic-red-b);
}

.letter-form-field input:valid:not(:placeholder-shown) {
  border-color: var(--basic-black);
}

.button-send {
  background-color: var(--basic-red-a);
}

.button-send:hover {
  background-color: var(--basic-red-b);
}

.button-send:active {
  color: var(--basic-red-d);
  background-color: var(--basic-red-c);
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
}

/* catalog */

.catalog-wrap {
  display: grid;
  grid-template-columns: 260px 1fr;
  column-gap: 140px;
}

.form-filter fieldset {
  padding: 0;
  border: none;
}

.form-title-cost {
  padding: 55px 0 48px 0;
}

.form-title-cost,
.form-title-grid,
.form-title-features,
.form-title-sort {
  margin: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-black);
}

.catalog-fieldset-grid {
  margin: 54px 0 0 0;
}

.catalog-fieldset-features {
  margin: 43px 0 0 0;
}

.range-controls {
  position: relative;
  height: 41px;
  margin-bottom: 15px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: var(--basic-light-gray-a);
  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;
  background: var(--basic-light-gray-k);
}

.range-controls .bar {
  width: 70%;
  height: 2px;
  background: var(--basic-green-a);
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid var(--basic-white);
  background-color: var(--basic-gray-b);
  border-radius: 50%;
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.15);
  outline: none;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls-label,
 input[value] {
  line-height: 22px;
  text-transform: uppercase;
}

.price-controls {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.price-controls input {
  width: 60px;
  padding: 10px;
  margin-left: 10px;
  text-align: center;
  color: var(--basic-light-black);
  border: none;
  border-radius: 5px;
  background: var(--basic-light-gray-l);
}

.filter-option-item label {
  line-height: 19px;
}

.filter-list-radio {
  height: 98px;
}

.filter-list-checkbox {
  height: 179px;
}

.filter-list-radio,
.filter-list-checkbox {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  margin: 16px 0 0 36px;
  padding: 0;
  width: inherit;
  list-style: none;
}

.filter-option-item label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
}

.filter-input-radio + label::before {
  content: "";
  position: absolute;
  top: -3px;
  left: -36px;
  margin: 0;
  padding: 0;
  width: 17px;
  height: 17px;
  border: 4px solid var(--basic-gray-h);
  border-radius: 50%;
}

.filter-input-radio:checked + label::after {
  content: "";
  position: absolute;
  top: -3px;
  left: -36px;
  margin: 0;
  padding: 0;
  width: 25px;
  height: 25px;
  background-image: url("../img/radio-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0
}

.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  top: -3px;
  left: -36px;
  margin: 0;
  padding: 0;
  width: 19px;
  height: 19px;
  border: 2px solid var(--basic-gray-h);
  border-radius: 3px;
}

.filter-input-checkbox:checked + label::after {
  content: "";
  position: absolute;
  top: -3px;
  left: -36px;
  margin: 0;
  padding: 0;
  width: 25px;
  height: 25px;
  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0
}

.button-show {
  display: inline-block;
  margin: 48px 0 0 0;
  padding: 17px 89px 15px 88px;
  font-weight: 500;
  line-height: 18px;
  color: var(--basic-black);
  background-color: var(--basic-light-gray-a);
}

.button-show:hover {
  background-color: var(--basic-light-gray-e);
}

.button-show:active {
  color: var(--basic-gray-e);
  background-color: var(--basic-light-gray-f);
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
}

.sort-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: auto;
  padding: 55px 0 48px 0;
}

.sort-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-right: 10px;
  width: 360px;
}

.sort-button {
  padding: 0;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-light-gray-h);
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}

.sort-button-down {
  margin: 0 18px 0 0;
}

.sort-buttons-wrap .sort-button-down {
  padding: 0;
  width: 11px;
  height: 10px;
  background-image: url("../img/shape-down1.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.sort-buttons-wrap .sort-button-up {
  padding: 0;
  width: 11px;
  height: 10px;
  background-image: url("../img/shape-up.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.sort-button-down:hover {
  background-image: url("../img/shape-down2.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.sort-button:hover {            /*ВОПРОС*/
  color: var(--basic-gray-d);
}

.sort-button:active {
  color: var(--basic-black);
}

.catalog-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3,1fr);
  gap: 30px 41px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.catalog-item {
  position: relative;
  width: 358px;
  height: 618px;
  box-shadow: 0 6px 15px rgba(0, 1, 1, 0.25);
  border-radius: 5px;
}

.catalog-item:hover .catalog-item-browser {
  background-color: var(--basic-medium-gray);
}

.catalog-item:hover .catalog-item-card {
  display: block;
}

.catalog-item-browser {
  height: 40px;
  background-color: var(--basic-light-gray-j);
  border-radius: 5px 5px 0 0;
}

.browser-circle-list {
  display: flex;
  justify-content: space-between;
  width: 60px;
  padding: 14px 286px 14px 16px;
  list-style: none;
}

.browser-circle-item {
  width: 14px;
  height: 14px;
  background-color: var(--basic-white);
  border-radius: 50%;
}

.catalog-image {
  background-color: var(--basic-light-gray-i);
  border-radius: 0 0 5px 5px;
}

.catalog-image img {
  border-radius: 0 0 5px 5px;
}

.catalog-item-card {
  position: absolute;
  display: none;
  top: 388px;
  width: inherit;
  height: 231px;
  text-align: center;
  background-color: var(--basic-light-gray-a);
  border-radius: 0 0 5px 5px;
}

.catalog-item-card-wrap {
  display: inline-block;
  margin: 0;
  padding: 26px 53px 44px 52px;
}

.catalog-item-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-black);
  cursor: pointer;
}

.catalog-item-title:hover {
  color: var(--basic-red-a);
}

.catalog-item-title:active {
  color: var(--basic-light-gray-h);
}

.catalog-item-desc {
  line-height: 18px;
  color: var(--basic-gray-d);
}

.button-price {
  display: inline-block;
  margin: 0;
  padding: 17px 72px 15px 72px;
}

.button-price {
  background-color: var(--basic-red-a);
}

.button-price:hover {
  background-color: var(--basic-red-b);
}

.button-price:active {
  background-color: var(--basic-red-c);
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
}

.pagination-list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 55px 0 60px 0;
  padding: 0;
  list-style: none;
}

.pagination-item a {
  display: inline-block;
  margin-right: 11px;
  padding: 17px 22px 15px 22px;
  background-color: var(--basic-light-gray-a);
  border-radius: 3px;
}

.pagination-item a:hover {
  background-color: var(--basic-light-gray-e);
}

.pagination-item a:active {
  color: var(--basic-gray-e);
  background-color: var(--basic-light-gray-f);
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
}

.pagination-item-last a {
  padding: 17px 77px 15px 78px;
}

.pagination-page {
  font-weight: 500;
  line-height: 18px;
  color: var(--basic-black);
}

.pagination-item-current a,
.pagination-item-current a:hover,
.pagination-item-current a:focus,
.pagination-item-current a:active {
  padding: 14px 19px 12px 19px;
  color: var(--basic-black);
  background-color: var(--basic-white);
  border: 3px solid var(--basic-light-gray-g);
  box-shadow: none;
}

